# Set default behavior to automatically normalize line endings.
* text=auto eol=crlf

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.js text eol=crlf
*.jsx text eol=crlf
*.ts text eol=crlf
*.tsx text eol=crlf
*.json text eol=crlf
*.md text eol=crlf
*.html text eol=crlf
*.css text eol=crlf
*.scss text eol=crlf
*.sass text eol=crlf
*.less text eol=crlf
*.xml text eol=crlf
*.yml text eol=crlf
*.yaml text eol=crlf
*.txt text eol=crlf
*.gitignore text eol=crlf
*.gitattributes text eol=crlf
*.browserslistrc text eol=crlf
*.npmrc text eol=crlf

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg binary
*.woff binary
*.woff2 binary
*.eot binary
*.ttf binary
*.otf binary